In [1]:
import pandas as pd

In [2]:
RTypes = pd.read_csv('ReactionTypes.csv')

In [3]:
RTypes.head()

   Unnamed: 0        Type Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [4]:
RTypes.isnull().sum()

Unnamed: 0    0
Type          0
Sentiment     0
Score         0
dtype: int64

In [5]:
RTypes.rename(columns={'Type': 'RType'}, inplace=True)

In [6]:
RTypes.head()

   Unnamed: 0       RType Sentiment  Score
0           0       heart  positive     60
1           1        want  positive     70
2           2     disgust  negative      0
3           3        hate  negative      5
4           4  interested  positive     30

In [8]:
RTypes.to_csv('cleaned_ReactionTypes.csv', index=False )